<h2>Mad day at school!</h2>
<p>Hello, my name is @Model.Name.</p>
<p>My First day at school went @Model.Verb1. It was a @Model.Adj1 morning, with the @Model.Noun1 blowing and the @Model.Noun2 singing.</p>
<p>My @Model.Noun3's meet me at the @Model.Adj2 entrence and greeted me.</p>
<p>Lunch was ok, but the food was @Model.Adj3.</p>
<p>Then on my way home it @Model.Verb2.</p>
<p>What a @Model.Verb3 way to end the first day of school.</p>